# Python
__pycache__/
*.pyc
.venv/
.venv*/
.ipynb_checkpoints/

# DVC cache (do not commit)
.dvc/cache/
.dvc/tmp/

# Data (we will track via DVC)
data/breast_cancer.csv

# Artifacts
artifacts/

#archive
archive/